.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer{
    background: #426B29;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerContent{
    border-top: solid #ccc 2px;
    color: #ccc;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footerItem{
    width: 100%;
    background: silver;
    margin: 0px 10px;
    height: 90px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: silver;
}
.footerContent ul{
    margin-top: 50px;
}
.footerContent li{
    margin: 20px;
}
.icon{
    color: silver;
}

img{
    width: 25px;
    height: 20px;
}
.footer a{
    width: 50px;
    color: silver;
}

.copy{
    color: #426B29;
}

.copylogo{
    font:bold;
}
.logoImg a img{
    margin: 20px;
}
.ul{
    width: 150px;
    box-sizing: border-box;
    /* display: flex;
    flex-wrap: wrap; */
}

@media (max-width:768px) {
    .footerContent{
        display: flex;
        /* flex-direction: column; */
    }

    .footerItem{
        flex-direction: column;
    }
}