.home{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 20;
    
}
.homeContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(154, 189, 154, .3);
    background-image: url(../../../public/interiorsketch5.jpg);
    /* opacity: .4; */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.homeItem .text{
    /* opacity:initial; */
    color: rgba(5, 51, 5, 1)!important;
}
.homeContent{
    min-height: 130vh;
    width: 100%;
    background-color: silver;
    /* opacity: 0.5;     */
    background-size: auto; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.homeContent2{
    margin: 0;
    /* padding: 0; */
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.homeContent3{

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #426B29; 
}

.homecontentX{
    width: 40%;
    margin: 20px;
    padding: 20px;
    background: #426B29; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 10px;
    gap: 30px;
   
}

.homecontentY{
    background: silver; 
    width: 70%;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #426B29;
}
.homecontentX h4{
    color: silver;
    align-items: center;
    width: 100%;
}


.homecontentY p, .homecontentX p{
    font-size: 13px;
line-height: 1.5rem;
}
    .homecontentY p{
        color: #426B29;
    }

.text{
    color: black;
    opacity: initial;
    /* background-color: white; */
    /* height: 100px; */
    /* align-items: center; */
    /* margin: auto; */
}
.homeItem .text{
    /* width: 90%; */
    opacity: 2;
    font-size: xx-large;
    text-align: center;
    line-height: 1.9em;
    
}

.main{
    height: 100vh;
    background-image: url("https://images.stockcake.com/public/7/1/f/71f34f37-c855-494c-832a-f170a80edc91_large/engineer-at-work-stockcake.jpg");
    background-color: rgb(92, 88, 88);
    /* opacity: 0.8; */
    background-size: cover;
    background-position: left;
    display:flex;
    flex: start;
    align-items: center;
    padding-left: 100px;
}   

.main .text{
    width: 40%;
    height: min-content;
    font-size:19px;
    line-height: 1.5em;;
    color: black;
    text-align: justify;
}



@media (max-width:568px) {
    .homeContainer{
        width: 100%;
        min-height: 200vh;
       }
     
    .homeItem{
       height: 80vh; 
       background-image: url(../../../public/interiorsketch5.jpg);
    
    }

    .homeItem .text{
        font-size: medium;
    }

    .main{
        background-size:auto;
        height: 75vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: none;
        background-position: left;
        /* opacity: 2.4; */
        padding-left: 20px;
        height: 75vh;
    }
    .main .text{
        width: 85%;
        /* height: 40vh; */
        font-size: 17px;
        color: black;
    }
    .homeContent{
        min-height: 200vh;
        flex-direction: column;
        width: 100%;  
    }
    .homecontentX p{
        text-align: justify;
    }
    .homeContent2{
        width: 100%;
        flex-direction: column;
        margin: 0;
        /* padding: 0; */
        border: 0;
        
    }
    .homeContent3{
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        flex-direction:column;
        background-color: silver;
        border-radius: 10px ;
    }
    .homeContent2 .homecontentX{
        margin: 0;
        border: 0;
        width: 100%;
        flex-direction: column
    }
    .homecontentY,.homecontentX{
        height: 80vh;
        border-radius: 0;
    }
    .homecontentX{
        padding: 20px; 
    }
    .homecontentY h4{
        padding: 20px;
    }

    .homecontentX h4{
        padding-left: 20px;
    }
    .homecontentY{
        width: 100%;
        flex-direction: row;
        background-color: #426B29;
    }
   .homeB p, .homeB h4{
        color: silver;
    }
    .homeA{
        background-color: silver;
        
    }
    .homeA p, .homeA h4{
        color: #426B29;
    }
    
}